# Question 1 (Company name from email)

In [30]:
import re
email = input("Enter a valid Email id: ")
regex = '^[a-z0-9]+[\._]?[a-z0-9]+[@]\w+[.]\w{2,3}$'
if(re.search(regex,email)):
    company_name = email.split("@")[-1].split('.')[0]
    print(company_name)
else:
    print("Invalid EmailID")

Enter a valid Email id: abc@xyz.com
xyz

# Question 2 (Comma separated value)

In [29]:
entry = input("Enter Commma separated values : ")
ent_list = list(entry.split(","))
ent_list.sort()
print(",".join(ent_list))

Enter Commma separated values : ohh,yeah,its,completed,now
completed,its,now,ohh,yeah

# Question 3 (Sets)

In [24]:
sets ={'abc','efg','abc',123} # creating a set , Only unique values are allowed in set
print(type(sets))

for x in sets: # Accessing values in Set
    print(x)

print("123 is present in the set: ",123 in sets) #Check if "123" is present in the set:

sets.add(456) # Adding value in set
print("After Adding 456 in set ", sets)

sets.update(["orange", "mango", "grapes"]) # Adding Multiple values in set
print("After Adding Multiple values in set ",sets)

sets.remove(456) #Removing a value in set
print("After Removing 456 from set ",sets)

sets.clear() #The clear() method empties the set
print("After clear : " ,sets)

<class 'set'>
abc
123
efg
123 is present in the set:  True
After Adding 456 in set  {456, 'abc', 123, 'efg'}
After Adding Multiple values in set  {'abc', 'mango', 'efg', 456, 'orange', 'grapes', 123}
After Removing 456 from set  {'abc', 'mango', 'efg', 'orange', 'grapes', 123}
After clear :  set()

# Question 4 (Missing Numbers)

In [32]:
numbers = input("Enter the numbers ").rstrip()
num_lst = numbers.split(" ")
num_lst = [int(i) for i in num_lst]
num_lst.sort()
missed = [i for i in range(num_lst[0],num_lst[-1]) if i not in num_lst]
print(missed)

Enter the numbers 1 2 5 3 12 7
[4, 6, 8, 9, 10, 11]

# Question 5 (Unique Numbers in List)

In [41]:
numbers = input("Enter the numbers ").rstrip()
num_lst = numbers.split(" ")
new_num_lst= []
for num in num_lst:
    if not num in new_num_lst:
        new_num_lst.append(num)
print(" ".join(new_num_lst))

Enter the numbers 12 24 35 24 88 120 155 88 120 155
12 24 35 88 120 155